extends Partials\header

block content
    h1= "My contact"
    main
        div(class= "center")
            div(id= "description")
                div(id= "skills-description")
                    p= "My name is Anmol Sharma."
                    div= "How To Find Me :"
                    p= "Address : 354 Duckworth Street"
                    p= "Barrie, Ontario"
                    p= "Postal Code: L4M 4Y1"


