extends Partials\header

block content
    h1= "My Projects"
    section
        article
            p= "Scrabble Game"
            img(src='images/jude.jpg' alt='face' height="auto")
            br
            a(href="https://github.com/Anmolsharma786/ScrabbleGame") Link to Scrabble Game Code
        article
            p= "Calculator"
            img(src='images/calculator.jpg' alt='face' height="auto")
            br
            a(href="https://github.com/Anmolsharma786/Java-Calculator") Link to Calculator Code
        article
            p= "Hospital"
            img(src='images/Hospital.jpg' alt='face' height="auto")
            br
            a(href="https://github.com/Anmolsharma786/Hospital-Project") Link to Hospital Code
        article
            p= "Hospital"
            img(src='images/more.jpg' alt='face' height="auto")
            br
            a(href="https://github.com/Anmolsharma786") Link to Wonderful Projects

            
            
    