extends Partials\header

block content
    h1= "My Skills"
        div(id= "skills-description")
            ol
                li= "Java"
                br
                li= "Swift"
                br
                li= "PHP"
                br
                li= "Javascript"
                br
                li= "For more info send me an email on anmol_sharma37@yahoo.com"